<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="node_modules/normalize.css/normalize.css">
    <link rel="stylesheet" href="node_modules/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="src/style.css">
    <title id="app-title"></title>
  </head>
  <body>
    <div class="container">
      <div v-if="errorMessage !== ''" class="error-message">
        <a href="#" id="close-error" title="Close message" @click.prevent="updateErrorMessage('')">
          <i class="fa fa-times"></i>
        </a>
        <div class="message" v-html="errorMessage"></div>
      </div>

      <!-- start upload -->
      <form class="drop-box" :class="{ hovered: hovering }" v-if="page <= 2">
        <div class="drop-zone">
          <div class="drop-info">
            <label>Drop csv here or click to select</label>
            <div class="help" v-text="message"></div>
          </div>
          <input type="file" class="file" multiple="false" accept=".csv" @change="getInputFile">
        </div>
        <button class="next" 
                :class="{ active: csvName }" 
                v-if="page === 2 && csvName"
                @click.prevent="preview"><i class="fa fa-arrow-circle-o-right fa-4x button-hover"></i></button>
      </form>
      <!-- end upload -->

      <!-- start import data -->
      <div class="import-page" v-if="page === 3">
        <template v-if="csvCache">
          <div class="chosen-file">
            import "<strong>{{csvName || 'testing123.js'}}</strong>"?
          </div>
          <div>
            <a href="#" @click.prevent="importFile">
              <i class="fa fa-upload fa-4x button-hover"></i>
            </a>
          </div>
        </template>
        <template v-else>
          <i class="fa fa-refresh fa-spin fa-5x fa-fw"></i>
          <span class="sr-only">Loading...</span>
        </template>
      </div>
      <!-- end import data -->
 



      <div id="list" style="border: 1px solid red; top: 30%;" v-if="false">

        

        <div v-if="false" class="chosen-file">
          Process "{{csvName}}"?
        </div>
        <div v-if="false" class="chosen-file">
          <a href="#" id="processFileButton" title="Process Tags" @click.prevent="updateFiles">
            <i class="fa fa-play"></i>
          </a>
        </div>
        <div v-if="false" :class="{ 'row': true, 'processed': doc.zzz_processedStatus }" v-for="doc in data">
          <span v-html="doc.zzz_icon"></span>
          <ul>
            <li v-for="(key, indx) in Object.keys(doc)" v-if="!key.startsWith('zzz_')">
              <strong>{{key}} <span v-if="indx === 0">({{Number.parseInt(doc.zzz_id, 10) + 1}})</span>:</strong> 
              {{doc[key]}}
            </li>
            <li v-if="doc.zzz_extension === 'pdf'" v-html="doc.zzz_fileLink"></li>
            <li v-else>
              <a href="#" target="_blank" @click.prevent="openWithShell(doc.zzz_fullPath)">{{doc.zzz_path}}</a>
            </li>
          </ul>
        </div>

      </div>

      <div id="info" class="info">
        <i class="fa fa-info-circle"></i>
        <ul class="content">
          <li v-for="item in info">
            <span>{{item.name}}</span>: {{item.value}}
          </li>
        </ul>
      </div>
    </div>
  </body>

  <script>
    require('./src/script');
  </script>
</html>
