<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="node_modules/normalize.css/normalize.css">
    <link rel="stylesheet" href="node_modules/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="src/style.css">
    <title id="app-title"></title>
  </head>
  <body>
    <div class="container">
      <div v-if="state.errorMessage !== ''" class="error-message">
        <a href="#" id="close-error" title="Close message" @click.prevent="updateErrorMessage('')">
          <i class="fa fa-times"></i>
        </a>
        <div class="message" v-html="state.errorMessage"></div>
      </div>


      <div class="dropzone-area" @dragenter="hovering = true" @dragleave="hovering = false" :class="{'hovered': hovering}">
        <div class="dropzone-text">
          <span class="dropzone-title">Drop CSV here or click to select</span>
          <span class="dropzone-info" v-text="help"></span>
        </div>
        <input type="file" accept=".csv" multiple="false" @change="getInputFile">
      </div>




      <div id="list">

        <div v-if="state.page.showImporter" class="chosen-file">
          import "{{state.csvObj.name}}"?
        </div>
        <div v-if="state.page.showImporter" class="chosen-file">
          <a href="#" id="importFileButton" title="Import File" @click.prevent="importFile">
            <i class="fa fa-upload"></i>
          </a>
        </div>

        <div v-if="state.page.showFileList && state.step < 3" class="chosen-file">
          Process "{{state.csvObj.name}}"?
        </div>
        <div v-if="state.page.showFileList && state.step < 3" class="chosen-file">
          <a href="#" id="processFileButton" title="Process Tags" @click.prevent="updateFiles">
            <i class="fa fa-play"></i>
          </a>
        </div>
        <div v-if="state.page.showFileList" :class="{ 'row': true, 'processed': doc.zzz_processedStatus }" v-for="doc in state.data">
          <span v-html="doc.zzz_icon"></span>
          <ul>
            <li v-for="(key, indx) in Object.keys(doc)" v-if="!key.startsWith('zzz_')">
              <strong>{{key}} <span v-if="indx === 0">({{Number.parseInt(doc.zzz_id, 10) + 1}})</span>:</strong> 
              {{doc[key]}}
            </li>
            <li v-if="doc.zzz_extension === 'pdf'" v-html="doc.zzz_fileLink"></li>
            <li v-else>
              <a href="#" target="_blank" @click.prevent="openWithShell(doc.zzz_fullPath)">{{doc.zzz_path}}</a>
            </li>
          </ul>
        </div>

      </div>

      <div id="info" class="info">
        <i class="fa fa-info-circle"></i>
        <ul class="content">
          <li v-for="item in state.info">
            <span>{{item.name}}</span>: {{item.value}}
          </li>
        </ul>
      </div>
    </div>
  </body>

  <script>
    require('./src/script');
  </script>
</html>
