@font-face {
  font-family: "Open-sans";
  src: url("assets/web-fonts/OpenSans-Regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Open-sans";
  src: url("assets/web-fonts/OpenSans-Bold-webfont.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

*,
*::before,
*::after{
  box-sizing: border-box;
}

html,
body{
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  color: #333;
  font-family: Open-sans, sans-serif;
}

html{
  background-color: #252526;
}

i.fa-file-pdf-o{
  color: #E40B0B;
}

i.fa-file-word-o{
  color: #295497;
}

i.fa-file-excel-o{
  color: #207245;
}

i.fa-file-powerpoint-o{
  color: #D14524;
}

.container{
  position: relative;
  height: 100%;
  -webkit-user-select: none;
  -webkit-app-region: drag;
}

.row{
  position: relative;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 4px;
  margin: 15px 60px;
  padding: 20px;
  font-size: 1.0em;
  -webkit-box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.53);
  -moz-box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.53);
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.53);
}

.row ul{
  list-style: none;
  padding: 0;
  margin: 0;
}

.row li{
  line-height: 1.5em;
}

.row .fa{
  position: absolute;
  top: 25px;
  left: 30px;
}

.row ul{
  padding-left: 80px;
}

#file-input{
  position: absolute;
  visibility: hidden;
}

#list{
  margin-left: 100px;
}

.menu{
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100px;
  background-color: #333;
  -webkit-box-shadow: 1px 0px 5px 0px rgba(50, 50, 50, 0.5);
  -moz-box-shadow:    1px 0px 5px 0px rgba(50, 50, 50, 0.5);
  box-shadow:         1px 0px 5px 0px rgba(50, 50, 50, 0.5);
}

.menu ul{
  padding: 0;
  list-style: none;
}

.menu li{
  text-align: center;
  padding: 20px 10px;color: #fff;
  text-align: center;
}

.menu a{
  position: relative;
  display:inline-block;
  width: 50px;
  height: 50px;
  line-height: 50px;
  border-radius: 50%;
  background-color: #fff;
  text-decoration: none;
}

.menu a i{
  display: inline-block;
  color: #333;
}

.menu .fa-check-circle-o{
  position: absolute;
  color: #1D9E74;
  font-size: 1.5em;
}