@font-face {
  font-family: "Open-sans";
  src: url("assets/web-fonts/OpenSans-Regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Open-sans";
  src: url("assets/web-fonts/OpenSans-Bold-webfont.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

*,
*::before,
*::after{
  box-sizing: border-box;
}

html,
body{
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  color: #333;
  font-family: Open-sans, sans-serif;
}

html{
  background-color: #252526;
}

i.fa-file-pdf-o{
  color: #E40B0B;
}

i.fa-file-word-o{
  color: #295497;
}

i.fa-file-excel-o{
  color: #207245;
}

i.fa-file-powerpoint-o{
  color: #D14524;
}

.hide{
  display: none;
}

.error-message{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  font-size: 1.5em;
  text-align: center;
  padding: 20px;
  background-color: rgba(255, 0, 0, 0.8);
  color: #fff;
}

.error-message .message{
  width: 100%;
  display: block;
}

#close-error{
  position: absolute;
  top: 5px;
  right: 10px;
  width: 1.2em;
  color: #fff;
  font-size: 1.2em;
  text-decoration: none;
}

.container{
  position: relative;
  height: 100%;
  -webkit-user-select: none;
  user-select: none;
  -webkit-app-region: drag;
}

#info{
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 5px 20px 7px;
  font-size: 1.1em;
  background-color: #007ACC;
  color: #fff;
}

.info .content{
  padding: 0;
  margin: 0;
  display: inline-block;
  list-style: none;
}

.info li{
  display: inline-block;
  font-size: 0.85em;
  margin-left: 2.5em;
}

.info li:first-child{
  margin-left: 1em;
}

.row{
  position: relative;
  background-color: #fff;
  border-radius: 4px;
  border: 2px solid #fff;
  margin: 15px 60px;
  padding: 20px;
  font-size: 1.0em;
  -webkit-box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.53);
  -moz-box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.53);
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.53);
}

.row.processed{
  border: 2px solid lightgreen;
}

.row ul{
  list-style: none;
  padding: 0;
  margin: 0;
}

.row li{
  line-height: 1.5em;
}

.row-icon{
  position: absolute;
  top: 25px;
  left: 30px;
}

.row ul{
  padding-left: 80px;
}

#list{
  position: relative;
  padding: 100px 0 300px;
  list-style: none;
}

#list .chosen-file{
  text-align: center;
  color: rgba(255, 255, 255, 0.8);
  font-size: 2em;
}

.chosen-file a{
  position: relative;
  display: inline-block;
  margin: 1em;
  color: rgba(255, 255, 255, 0.8);
  text-decoration: none;
}

.chosen-file a i{
  display: inline-block;
  transform: scale(2);
}

.chosen-file a:hover i{
  color: #fff;
}


#list .fa-check{
  position: absolute;
  bottom: 100%;
  left: 100%;
  transform: translate(-45%, 50%) scale(0.4);
  color: #1D9E74;
  display: none;
}

#list .processed .fa-check{
  display: inline-block;
}










.dropzone-area{
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate( -50%, -55%) scale(1);
  transition: all 300ms ease-in-out;
  width: 600px;
  height: 350px;
  border: 3px dashed #CBCBCB;
  border-radius: 10px;
}

.dropzone-area.hovered{
  border: 3px dashed #2E94C4;
  transform: translate( -50%, -55%) scale(0.9);
}

.dropzone-area.hovered .dropzone-title{
  color: #1975A0;
}

.dropzone-area input{
  position: absolute;
  z-index: 10;
  cursor: pointer;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
}

.dropzone-text{
  position: absolute;
  top: 50%;
  text-align: center;
  transform: translate(0, -50%);
  width: 100%;
}

.dropzone-text span{
  display: block;
}

.dropzone-title{
  font-size: 28px;
  letter-spacing: 0.4px;
  line-height: 40px;
  color: #787878;
}

.dropzone-info{
  font-size: 18px;
  color: #A8A8A8;
  letter-spacing: 0.4px;
}

