@font-face {
  font-family: "Open-sans";
  src: url("assets/web-fonts/OpenSans-Regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Open-sans";
  src: url("assets/web-fonts/OpenSans-Bold-webfont.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

*,
*::before,
*::after{
  box-sizing: border-box;
}

html,
body{
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  color: #333;
  font-family: Open-sans, sans-serif;
}

.container{
  height: 100%;
  -webkit-user-select: none;
  -webkit-app-region: drag;
}


.row{
  border: 1px solid #ccc;
  padding: 20px;
  font-size: 1.2em;
}

.row ul{
  list-style: none;
  padding: 0;
  margin: 0;
}

.row li{
  line-height: 1.5em;
}

