@font-face {
  font-family: "Open-sans";
  src: url("assets/web-fonts/OpenSans-Regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Open-sans";
  src: url("assets/web-fonts/OpenSans-Bold-webfont.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

*,
*::before,
*::after{
  box-sizing: border-box;
}

html,
body{
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  color: #333;
  font-family: Open-sans, sans-serif;
}

html{
  background-color: #252526;
}

i.fa-file-pdf-o{
  color: #E40B0B;
}

i.fa-file-word-o{
  color: #295497;
}

i.fa-file-excel-o{
  color: #207245;
}

i.fa-file-powerpoint-o{
  color: #D14524;
}

.hide{
  display: none;
}

.error-message{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  font-size: 1.5em;
  text-align: center;
  padding: 20px;
  background-color: rgba(255, 0, 0, 0.8);
  color: #fff;
}

.error-message .message{
  width: 100%;
  display: block;
}

#close-error{
  position: absolute;
  top: 5px;
  right: 10px;
  width: 1.2em;
  color: #fff;
  font-size: 1.2em;
  text-decoration: none;
}

.container{
  position: relative;
  height: 100%;
  -webkit-user-select: none;
  user-select: none;
  -webkit-app-region: drag;
}

#info{
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 5px 20px 7px;
  font-size: 1.1em;
  background-color: #007ACC;
  color: #fff;
}

.info .content{
  padding: 0;
  margin: 0;
  display: inline-block;
  list-style: none;
}

.info li{
  display: inline-block;
  font-size: 0.85em;
  margin-left: 2.5em;
}

.info li:first-child{
  margin-left: 1em;
}

.row{
  position: relative;
  background-color: #fff;
  border-radius: 4px;
  border: 2px solid #fff;
  margin: 15px 60px;
  padding: 20px;
  font-size: 1.0em;
  -webkit-box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.53);
  -moz-box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.53);
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.53);
}

.row.processed{
  border: 2px solid lightgreen;
}

.row ul{
  list-style: none;
  padding: 0;
  margin: 0;
}

.row li{
  line-height: 1.5em;
}

.row-icon{
  position: absolute;
  top: 25px;
  left: 30px;
}

.row ul{
  padding-left: 80px;
}



#list .fa-check{
  position: absolute;
  bottom: 100%;
  left: 100%;
  transform: translate(-45%, 50%) scale(0.4);
  color: #1D9E74;
  display: none;
}

#list .processed .fa-check{
  display: inline-block;
}

/*
================================================================
*/

.import-page{
  position: absolute;
  top: 45%;
  transform: translateY(-50%);
  width: 100%;
  padding: 30px;
  text-align: center;
}

.chosen-file{
  margin-bottom: 15px;
  font-size: 24px;
  color: #C8DADF;
}

.chosen-file strong{
  color: #93B0B3;
}

.import-page i{
  margin: 20px 30px 0;
  color: #1D9E74;
  background-color: transparent;
}

.button-hover{
  transform: scale(1);
  transition: transform 300ms ease-in-out;
}

.button-hover:hover{
  transform: scale(1.15);
}

.drop-box{
  position: relative;
  width: 600px;
  height: 250px;
  transform: translateY(50px);
  padding: 10px;
  margin: 0 auto;
  background-color: #C8DADF;
}

.drop-box.hovered{
  background-color: #fff;
}

.drop-box .help{
  margin-top: 6px;
  font-size: 18px;
}

.drop-box label{
  font-size: 28px;
}

.drop-zone{
  position: relative;
  width: 580px;
  height: 230px;
  border: 2px dashed #93B0B3;
  transform: scale(1);
  transition: transform 300ms ease-in-out;
}

.hovered .drop-zone{
  transform: scale(0.98);
}

.drop-info{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 20px;
  width: 100%;
  color: #93B0B3;
  font-size: 20px;
  text-align: center;
  line-height: 25px;
  font-weight: bold;
}

.file{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  opacity: 0;
}

.next{
  position: absolute;
  left: 50%;
  bottom: -40%;
  transform: translateX(-50%);
  color: #1D9E74;
  background-color: transparent;
  border: none;
}

.next:hover{
  cursor: pointer;
}