@font-face {
  font-family: "Open-sans";
  src: url("assets/web-fonts/OpenSans-Regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Open-sans";
  src: url("assets/web-fonts/OpenSans-Bold-webfont.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

*,
*::before,
*::after{
  box-sizing: border-box;
}

html,
body{
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  color: #333;
  font-family: Open-sans, sans-serif;
}

html{
  background-color: #252526;
}

i.fa-file-pdf-o{
  color: #E40B0B;
}

i.fa-file-word-o{
  color: #295497;
}

i.fa-file-excel-o{
  color: #207245;
}

i.fa-file-powerpoint-o{
  color: #D14524;
}

.hide{
  display: none;
}

.error-message{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  font-size: 1.5em;
  text-align: center;
  padding: 20px;
  background-color: rgba(255, 0, 0, 0.8);
  color: #fff;
}

.error-message .message{
  width: 100%;
  display: block;
}

#close-error{
  position: absolute;
  top: 5px;
  right: 10px;
  width: 1.2em;
  color: #fff;
  font-size: 1.2em;
  text-decoration: none;
}

.container{
  position: relative;
  height: 100%;
  -webkit-user-select: none;
  user-select: none;
  -webkit-app-region: drag;
}

#info{
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 5px 20px;
  font-size: 1.1em;
  background-color: #007ACC;
  color: #fff;
}

.row{
  position: relative;
  background-color: #fff;
  border-radius: 4px;
  margin: 15px 60px;
  padding: 20px;
  font-size: 1.0em;
  -webkit-box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.53);
  -moz-box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.53);
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.53);
}

.row ul{
  list-style: none;
  padding: 0;
  margin: 0;
}

.row li{
  line-height: 1.5em;
}



.row-icon{
  position: absolute;
  top: 25px;
  left: 30px;
}

.row ul{
  padding-left: 80px;
}

#file-input{
  position: absolute;
  visibility: hidden;
}

#list{
  position: relative;
  margin-left: 100px;
  padding: 100px 0 300px;
  list-style: none;
}

#list .chosen-file{
  text-align: center;
  color: rgba(255, 255, 255, 0.8);
  font-size: 2.5em;
}

.chosen-file a{
  position: relative;
  display:inline-block;
  margin-top: 1em;
  width: 2em;
  height: 2em;
  line-height: 2em;
  border-radius: 50%;
  border: 3px solid rgba(255, 255, 255, 0.8);
  color: rgba(255, 255, 255, 0.8);
  text-decoration: none;
}

.chosen-file a i{
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.menu{
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100px;
  background-color: #333;
}

.menu ul{
  padding: 0;
  list-style: none;
}

.menu li{
  text-align: center;
  padding: 20px 10px;color: #fff;
  text-align: center;
}

.menu a{
  position: relative;
  display:inline-block;
  width: 50px;
  height: 50px;
  line-height: 50px;
  border-radius: 50%;
  background-color: #fff;
  text-decoration: none;
}

.menu a i{
  display: inline-block;
  color: #333;
}

#list .fa-check{
  position: absolute;
  bottom: 100%;
  left: 100%;
  transform: translate(-45%, 50%) scale(0.4);
  color: #1D9E74;
  display: none;
}

#list .processed .fa-check{
  display: inline-block;
}